.cards {
  // visibility: hidden;
  // opacity: 0;
  // flex-grow: 1;
  // margin-bottom: 0;

  &.active {
    // visibility: visible;
    // opacity: 1;
    // animation: show-cards 0.5s ease;
  }

  &__stage {
    margin-bottom: $gap;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      display: block;
      color: #ffffff;
      margin-bottom: calc($gap / 2);

      &.desaturate {
        opacity: 0.4;
      }
    }

    &-cards {
      display: flex;
      gap: $gap;
    }

    &-card {
      padding: calc($gap / 2) $gap;
      border-radius: $border-radius;
      color: #ffffff;

      @media screen and (max-width: 768px) {
        padding: calc($gap / 3) calc($gap / 2);
        border-radius: calc($border-radius / 2);
      }
      
      @media screen and (max-width: 560px) {
        padding: calc($gap / 4) calc($gap / 2);
        // border-radius: calc($border-radius / 3);
      }

      &.green {
        background-color: $card-green;
      }

      &.brown {
        background-color: $card-brown;
      }

      &.blue {
        background-color: $card-blue;
      }

      &.empty {
        color: rgba(#ffffff, 0.4);
        background-color: rgba(#000000, 0.2);
        // opacity: 0.4;
      }
    }
  }
}
