.cards {
  &__stage {
    margin-bottom: $gap;

    @media screen and (max-width: 430px) {
      text-align: center;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      display: block;
      color: #ffffff;
      margin-bottom: calc($gap / 2);

      &.desaturate {
        opacity: 0.4;
      }
    }

    &-cards {
      display: flex;
      gap: $gap;

      @media screen and (max-width: 560px) {
        gap: calc($gap * 0.7);
      }

      @media screen and (max-width: 430px) {
        justify-content: center;
      }
    }

    &-card {
      padding: calc($gap / 2) $gap;
      border-radius: $border-radius;
      color: #ffffff;

      @media screen and (max-width: 768px) {
        padding: calc($gap * 0.5) calc($gap * 0.8);
        border-radius: calc($border-radius * 0.8);
      }

      @media screen and (max-width: 560px) {
        padding: calc($gap * 0.4) calc($gap * 0.7);
      }

      &.green {
        background-color: $card-green;
      }

      &.brown {
        background-color: $card-brown;
      }

      &.blue {
        background-color: $card-blue;
      }

      &.empty {
        color: rgba(#ffffff, 0.4);
        background-color: rgba(#000000, 0.2);
      }
    }
  }
}
