$font: 'Trebuchet Ms', Helvetica, Arial, sans-serif;

// $color-primary: #824dc9;
$color-primary: #DF8050;
$color-background: #FFFFFF;
$card-green: #319149;
$card-brown: #b47f4c;
$card-blue: #1b477a;

$gap: 15px;

$border-radius: 10px;

$transition: all 0.3s ease;

$box-shadow-hover: 
  0px 0px 0px 1px rgba($color-primary, 0.2), 
  0px 0px 0px 4px rgba($color-primary, 0.3);

$box-shadow-active: 
  0px 0px 0px 4px rgba($color-primary, 1);